.header {
    margin-top: -36px;
    padding: 5px;
    color: #bc7c2f;
    background: black;
    height: 210px;
}

#intro1 {
    color: whitesmoke;
    margin-top: 19px;
    background: rgb(7, 4, 0);
    font-family: alternate-gothic-no-1-d, "Futura Condensed", "Arial Narrow", Arial, sans-serif;
}

#intro2 {
    font-family: alternate-gothic-no-1-d, "Futura Condensed", "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    margin-top: -55px;
    padding: 2px;
    padding: 3px;
    float: center;
    height: 40px;
}

#intro3 {
    font-size: 15px;
    margin-top: -20px;
    margin-bottom: 38px;
    color: rgb(255, 255, 255);
    background: #886146;
    padding: 11px;
    font-weight: bolder;
    font-family: sans-serif;
}

#logo {
    width: 198px;
    height: 144px;
    border: 3.5px;
    border-style: dashed;
    margin: 5px auto;
    margin-top: 14px;
    border-end-end-radius: 100px;
    border-bottom-left-radius: 83px;
    border-top-left-radius: 84px;
    border-bottom-width: 0px;
    background-color: rgb(0, 0, 0);
    rotate: 45%;
}

#innerTextLogo {
    font-family: alternate-gothic-no-1-d, "Futura Condensed", "Arial Narrow", Arial, sans-serif;
    color: cornsilk;
    position: absolute;
    margin: 0px auto;
}

.innerLogo {
    font-family: alternate-gothic-no-1-d, "Futura Condensed", "Arial Narrow", Arial, sans-serif;
    color: cornsilk;
    position: absolute;
    margin-top: 30px;
    margin-left: 120px;
    font-weight: bold;
    font-style: oblique;
}

#svgLogo {
    width: 104px;
    height: 31px;
    float: left;
    margin-left: -111px;
}

#MY {
    margin-left: 45px;
}

#POST {
    margin: -3px;
    margin-left: -px;
}

#Movie {
    margin-left: 14px;
}

#innerPara {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.mainTEXT {
    font-family: alternate-gothic-no-1-d, "Futura Condensed", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    font: size 130px;
    font-style: inherit;
    margin-top: 65px;
    font-variant-caps: unicase;
    color: white;
}

p {
    margin: -1px;
    /* margin-bottom: 10px; */
    text-align: center;
}

.display-box {
    margin-top: 30px;
    width: 250px;
    height: 350px;
    /* border: 1.5px;
    border-color:black; */
    margin: 15px auto;
    float: center;
    background-color: darkgrey;
    padding: 10px;
    border-radius: 2px;
    position: relative;
}

#display-title {
    width: 220px;
    height: 30px;
    border: 1.5px;
    /* margin: 1px auto; */
    padding-top: 10px;
    text-align: center;
    background-color: rgb(142, 147, 153, 0.2);
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

#display-sub {
    width: 150px;
    height: 17px;
    border: 1.5px;
    /* margin: 0px auto; */
    padding: 5px;
    text-align: center;
    background-color: rgb(142, 147, 153, 0.2);
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}

#display-char {
    width: 150px;
    height: 30px;
    border: 1.5px;
    /* margin: 215px auto; */
    padding-top: 15px;
    text-align: center;
    background-color: rgb(142, 147, 153, 0.2);
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}

#display-producer {
    width: 150px;
    height: 15px;
    border: 1.5px;
    /* margin: 0px auto; */
    padding: 5px;
    text-align: center;
    background-color: rgb(142, 147, 153, 0.2);
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

#display-brief {
    /* float: right; */
    /* margin-top: -10px auto; */
    font-size: 12px;
    color: black;
    /* margin-right: -45px;
    margin-left: 345px;
    margin-bottom: 30px;
    margin-top: -180px; */
    border: 1.5px;
    position: absolute;
    top: 0%;
    left: 102%;
    /* transform: translate(-50%, 0); */
    width: 25vh;
    height: 325px;
    overflow: scroll;
}

#like-bttn {
    position: absolute;
    top: 92%;
    left: 105%;
    background: transparent;
}

#like-num {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 86.3%;
    left: 115.5%;
}

.like {
    background-color: white;
    float: right;
    /* margin-top: 56px;
    margin-right: 166px; */
    width: 25px;
    height: 25px;
}

#backImg {
    float: center;
    text-align: center;
    margin-left: -420px;
    width: 1049px;
    height: 446px;
    float: left;
    margin-top: -42px;
}

#displayBOX {
    height: 200px;
    width: 20px;
}

.line-box {
    opacity: 50%;
    width: 50%;
    height: 0px;
    border: 1px solid gray;
    margin: 15px auto;
    margin-top: 60px;
}

.template-box {
    width: 250px;
    height: 350px;
    border: 1.5px;
    margin: 15px auto;
    margin-top: 40px;
    text-align: center;
    background-color: darkgrey;
    padding: 10px;
    border-radius: 2px;
    position: relative;
}
#backgroundViewport{
    /* margin-left: 167px; */
    /* width: 1034px; */
    height: 449px;
    padding: 2px;
    padding-bottom: 19px;
    background-color: tomato;

}


#template-title {
    width: 220px;
    height: 30px;
    border: 1.5px;
    /* margin: 1px auto; */
    padding-top: 10px;
    text-align: center;
    background-color: rgb(142, 147, 153, 0.2);
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

#template-sub {
    width: 150px;
    height: 17px;
    border: 1.5px;
    /* margin: 0px auto; */
    padding: 5px;
    text-align: center;
    background-color: rgb(142, 147, 153, 0.2);
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, 0);
}

#template-char {
    width: 150px;
    height: 30px;
    border: 1.5px;
    /* margin: 215px auto; */
    padding-top: 15px;
    text-align: center;
    background-color: rgb(142, 147, 153, 0.2);
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}

#template-producer {
    width: 150px;
    height: 15px;
    border: 1.5px;
    /* margin: 0px auto; */
    padding: 5px;
    text-align: center;
    background-color: rgb(142, 147, 153, 0.2);
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
}

#MovieTitleLayOut {
    width: 100px;
    height: 4px;
    border: 1.5px;
    margin: 0px auto;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(142, 147, 153);
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: white;
}

.subheadingLayOut {
    width: 79px;
    height: 2px;
    border: 1.5px;
    margin: 1px auto;
    padding-top: 2px;
    text-align: center;
    background-color: rgb(142, 147, 153);
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom: 8px;
    position: relative;
    font-size: xx-small;
}

#CharactersLayouts {
    width: 60px;
    height: 9px;
    border: 1.5px;
    margin: 105px auto;
    padding: 3px;
    margin-left: 63px;
    position: absolute;
    padding-bottom: 4px;
    ;
    background-color: rgb(142, 147, 153);
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    color: white;
}

form {
    text-align: center;
}

input {
    text-align: center;
    padding: 9px auto;
    margin: 5px auto;
    width: 250px;
    height: 20px;
}

h2 {
    text-align: center;
}

#dropDownColors {
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    padding: 5px;
    margin: 2px;
    /* margin-left: -500px; */
    border-style: hidden;
    background-color: rgb(129, 140, 150);
    border-radius: 10px;
}

#dropDownFonts {
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    padding: 5px;
    margin: 2px;
    margin-left: 30px;
    border-style: hidden;
    background-color: rgb(129, 140, 150);
    border-radius: 10px;
}

#submit {
    padding: 5px;
    margin: 10px;
    width: 130px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: rgb(129, 140, 150);
    border-style: hidden;
    border-radius: 10px;
}

#sideBar {
    display: flex;
    margin: 1rem 0;
    width: 150px;
    /* position: absolute; */
    /* top: 0; */
    /* float: right; */
}

#sideBAr img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
}

#sideBAr img:last-child {
    margin-right: 0;
}

.sideBar {
    text-align: center;
    background: rgb(13, 5, 0);
    position: fixed;
    top: 0;
    right: 0;
    width: 235px;
    height: 100%;
    padding: 20px;
    transition: all 0.5s ease;
    max-height: 100vh;
    border: rgb(0, 0, 0);
    border-width: 10px;
    overflow: scroll;
    font-family: sans-serif;
    font-weight: bold;
    font: white;
    color: white;
}

.sideBar ul {
    list-style-type: none;
    margin-left: -24px;
}

#layoutTITLE {
    word-break: break-all;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 9px;
    margin-top: 913px;
    background-color: brown;
    padding: 13px;
    width: 100%;
    margin-left: -25px;
}

.layoutOptions {
    background: rgb(228, 73, 2);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    height: 2050px;
    padding: 20px 0;
}

.comment-box {
    background-color: #a5292a;
    padding: 70px;
    margin-top: -140px;

}
#mainDetails{
    font-family: alternate-gothic-no-1-d, "Futura Condensed", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    font: size 230px;
    font-style: inherit;
    margin-top: 5px;
    padding-bottom: 32px;
    font-variant-caps: unicase;
    color: white;

}
#genreBOX {
    background: rgb(139, 45, 1);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    height: 602px;
    padding: 20px 0;
}

#genreOptions {
    color: aliceblue;
    float: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    font-weight: bolder;
    width: 203px;
}

#gOptionTitle {
    float: center;
}

.gOptionTabs {
    float: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 9px;
    margin-left: 2px;
    position: relative;
    font-weight: bolder;
    font-style: normal;
    background-color: orangered;
}

#shareICONS {
    background: rgb(179, 60, 5);
    position: absolute;
    left: 0;
    width: 225px;
    height: 35px;
    padding: 14px 0;
    padding-top: 1px;
    padding-bottom: 17px;
    margin-top: 582px;
}

.iconBOX {
    background: rgb(134, 89, 69);
    position: absolute;
    left: 0;
    width: 25px;
    height: 40px;
    padding: 20px 0;
    margin-left: 20px;
    margin-top: 11px;
}

#iconBOXfb {
    border-radius: 3px;
    position: absolute;
    left: 0;
    width: 35px;
    height: 15px;
    margin-left: 20px;
    margin-top: 9px;
    margin-left: 19px;
}

#iconBOXpn {
    border-radius: 3px;
    position: absolute;
    left: 0;
    width: 35px;
    height: 15px;
    margin-left: 150px;
    margin-top: 6.5px;
}

#iconBOXtwt {
    border-radius: 3px;
    position: absolute;
    left: 0;
    width: 35px;
    height: 15px;
    margin-left: 87px;
    margin-top: 9px;
}

.layout-box {
    width: 120px;
    height: 140px;
    border: 1.5px;
    margin: 15px auto;
    margin-top: 40px;
    text-align: center;
    background-color: darkgrey;
    padding: 10px;
    border-radius: 2px;
}

#option-1 {
    position: relative;
}

#option-1 img {
    position: absolute;
    top: 0;
    left: 0;
}

#option-2 {
    position: relative;
}

#option-2 img {
    position: absolute;
    top: 0;
    left: 0;
}

#option-3 {
    position: relative;
}

#option-3 img {
    position: absolute;
    top: 0;
    left: 0;
}

#footer{
    /* width: 1500px; */
    height: 40px;
    background-color: #0f0b08;
}
#footertext{

    text-align: center;
    color:azure;
    padding: 10px;
}
